/** peer control */
.peer-control {
  background-color: #444;
  min-width: 300px;
  display: grid;
  grid-template-areas:
    'avatar username username'
    'avatar decibels controls';
  grid-template-rows: 0.35fr 1fr;
  grid-template-columns: 100px auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
  opacity: 0.3;
}

.room.in-call .peer-control {
  min-width: 450px;
}

.peer-control.in-call {
  opacity: 1;
}

.peer-control.in-call {
  color: white;
}

img.avatar {
  border-radius: 50%;
  grid-area: avatar;
}
.username {
  grid-area: username;
  line-height: 14px;
  padding-right: 30px;
}
.decibels {
  grid-area: decibels;
  padding: 8px 0;
  width: 300px
}
.controls {
  grid-area: controls;
}

canvas {
  display: block;
}

/** dragbar */

.dragbar {
  min-height: 0;
  margin: 0;
  line-height: 0px;
}
.dragbar input {
  margin: 0;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 5px;
  background: #777;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border: none;
  height: 15px;
  border-radius: 0;
  cursor: pointer;
}

.threshold .slider::-webkit-slider-thumb {
  background: #32ff32;
  width: 5px;
  -webkit-clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.gain .slider::-webkit-slider-thumb {
  background-color: #e69020;
  width: 20px;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 40%, 100% 60%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 80% 0%, 100% 40%, 100% 60%, 80% 100%, 0% 100%);
}

.slider::-moz-range-thumb {
  -moz-appearance: none; /* Override default look */
  appearance: none;
  border: none;
  height: 15px;
  border-radius: 0;
  cursor: pointer;
}

.threshold .slider::-moz-range-thumb {
  background-color: #32ff32;
  width: 5px;
  -webkit-clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.gain .slider::-moz-range-thumb {
  background-color: #e69020;
  width: 20px;
  height: 15px;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 40%, 100% 60%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 80% 0%, 100% 40%, 100% 60%, 80% 100%, 0% 100%);
}
